:root {

  --color-brand-one: #ffffff;
  --color-brand-two: #111111;
  --color-brand-three: #F26945;
  --color-brand-four: #e7e7e7;
  --color-brand-five: #8f8f8f;

}

.bg-none {
  background: none;
}

.bg-color-brand-one {
  background-color: var(--color-brand-one);
}

.bg-color-brand-two {
  background-color: var(--color-brand-two);
}

.bg-color-brand-three {
  background-color: var(--color-brand-three);
}

.bg-color-brand-four {
  background-color: var(--color-brand-four);
}

.bg-color-brand-five {
  background-color: var(--color-brand-five);
}

.color-brand-one{
  color: var(--color-brand-one);
}

.color-brand-two{
  color: var(--color-brand-two);
}

.color-brand-three{
  color: var(--color-brand-three);
}

.color-brand-four{
  color: var(--color-brand-four);
}

.color-brand-five{
  color: var(--color-brand-five);
}